body
  margin-top: 60px
  background: url(../subtle-grunge.png)
  
h1
  margin-bottom: 2rem
  padding-bottom: 0.5rem
  margin-top: 1rem
  border-bottom: 1px solid #555

p.lead
  margin-bottom: 2rem
  font-size: 1.5rem

p
  font-size: 1.1rem
  line-height: 1.5
  
@import url(http://fonts.googleapis.com/css?family=Donegal+One)
h1, h2, h3, h4, h5, h6
  font-family: "Donegal One", serif
