<div class="unavailable-message" style="display: none; margin-top: 2rem">
  <center>
    <h5> This item is currently unavailable for purchase.</h5>
  </center>
</div>
<form class="buy-form" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">  
  <input type="hidden" name="cmd" value="_xclick">
  <input type="hidden" name="business" value="YFVNSYTVPUWVL">
  <input type="hidden" name="lc" value="US">
  <input type="hidden" name="item_name" value="{{ .Params.title }}">
  <input type="hidden" name="button_subtype" value="services">
  <input type="hidden" name="currency_code" value="USD">
  <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted">
  {{- if and (.Params.physical_price) (.Params.digital_price )}}
  <div>
  <input type="hidden" name="on0" value="Select digital or print copy"><small style="color:#ccc">Select digital or print copy</small>
  <br>
  <select name="os0">
        <option value="{{ if (.Params.digital_option_label)}}{{ (.Params.digital_option_label)}}{{else}}Digital download{{- end}}">Digital Download ${{ lang.NumFmt 2 .Params.digital_price}} USD</option>
        <option value="Physical book plus shipping">Physical book + USA shipping ${{lang.NumFmt 2 .Params.physical_price}} USD</option>
</select>
</div>
<input type="hidden" name="option_select0" value="Digital download">
<input type="hidden" name="option_amount0" value="{{ lang.NumFmt 2 .Params.digital_price}}">
<input type="hidden" name="option_select1" value="Physical book plus shipping">
<input type="hidden" name="option_amount1" value="{{lang.NumFmt 2 .Params.physical_price}}">
<input type="hidden" name="option_index" value="0">
{{- else}}
<input type="hidden" name="amount" value="{{lang.NumFmt 2 .Params.display_price}}">
{{- end}}
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"/>
  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"/>
</form>
{{ if not .Params.digital}}
<!--small style="line-height: 1.1rem; display: block; margin: 0.5rem 2rem;">Please Note: Due to COVID-19, physical books are NOT being mailed out at this time. When you order a physical book you will receive a PDF and we will send your physical book as soon as possible.</small-->
{{- end}}

<div style="font-size: 1.2rem; margin: 1rem; padding: 0.5rem;">
  Carol will personally send your PDF as soon as she can, within 24 hours.
</div> 
    
